In [1]:
import sqlite3

In [2]:
# コネクションオブジェクト作成
conn = sqlite3.connect('./line_bot.sqlite3')

#cursor オブジェクト作成: 命令送る用
c = conn.cursor() 

# テーブル作成
try:
    c.execute("create table persons(id interger primary key, name text)")
except: 
    print("table persons already exists")

table persons already exists

In [3]:
# 変数の代入
id_1 = "abcdef"
name = "えさかたけひこ"

# レコード追加
c.execute("insert into persons values( ?, ? )", [ id_1, name ])

In [4]:
# レコード読込み
c.execute("select * from persons")

# fetch_allでリストを取得
comment_list = c.fetchall()
print(comment_list)

# 全体のDBへコミット
conn.commit()

# 接続切る
c.close()
conn.close()

[('abcdef', 'えさかたけひこ')]

2つめのテーブル作成

In [5]:
# もう一回接続
conn = sqlite3.connect('line_bot.sqlite3')
c_2 = conn.cursor()

In [6]:
c_2.execute("select * from persons")
comment_list = c_2.fetchall()
comment_list

[('abcdef', 'えさかたけひこ')]

In [9]:
#cursor オブジェクト作成: 命令送る用
c_2 = conn.cursor() 

# テーブル削除
c_2.execute('drop table answers')

# テーブル作成 (外部キーをつける)
try:
    c_2.execute("create table answers( \
            id interger, \
            answers1 text, \
            answers2 text, \
            foreign key(id) references persons(id) \
            )")
except:
    print("couldn't make table answers")

In [16]:
id_2 = "stu"
ans1 = "good"
ans2 = "so so"

c_2.execute("insert into answers values( ?, ? , ?)",[ id_2, ans1 , ans2])

In [17]:
c_2.execute("select * from answers")
comment_list = c_2.fetchall()
comment_list

[('abcdef', 'えさかたけひこ', 'えさかたけひこ'), ('stu', 'good', 'so so')]

In [19]:
# レコード読込み
c_2.execute("select * from persons")
oya_list = c_2.fetchall()

In [20]:
oya_list

[('abcdef', 'えさかたけひこ')]

In [ ]:
c = conn.cursor()

* 外部キーの入った子テーブルでは，idを全て消さないと親テーブルを消去する事は出来ない．
* 外部キーの入った子テーブル外部キーに，直接値を代入する事は出来ない．

In [35]:
# テーブル削除
c.execute('drop table persons')

# データベース削除

OperationalError: no such table: persons